.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16rem;
}

.about-img img {
    width: 32vw;
}

.heading {
    font-size: 4.5rem;
    text-align: center;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2rem;
}

.about-content p {
    font-size: 1.6rem;
    letter-spacing: .06rem;
    margin: 2rem 0 3rem;
    text-align: justify;
}